.authForm {
    width: 35rem;
    h1 {
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        mat-form-field {
            width: 80%;
            align-self: center;
        }
        button {
            width: 80%;
            color: blue;
            align-self: center;
            margin: .5rem;
        }
    }
}